@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{
    --primary-color: #BF0101;
    --secondary-color: #B81515;

    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #0000;


    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    --titles-wheight: 700;
    --text-wheight: 400;
    --menu-text-wheight: 500;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}