:root{
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #0000;

    --button-primary-color: #BF0101;
    --button-secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}